<!--<div class="animated fadeIn">-->
  <!--<div class="card-columns cols-2">-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Body Measurements-->
        <!--<div class="card-header-actions">-->
          <!--<a href="http://www.chartjs.org">-->
            <!--<small class="text-muted">docs</small>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="chart-wrapper">-->
          <!--<canvas baseChart class="chart"-->
          <!--[datasets]="lineChartData"-->
          <!--[labels]="lineChartLabels"-->
          <!--[options]="lineChartOptions"-->
          <!--[colors]="lineChartColours"-->
          <!--[legend]="lineChartLegend"-->
          <!--[chartType]="lineChartType"-->
          <!--(chartHover)="chartHovered($event)"-->
          <!--(chartClick)="chartClicked($event)"></canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Calories Burnt-->
        <!--<div class="card-header-actions">-->
          <!--<a href="http://www.chartjs.org">-->
            <!--<small class="text-muted">docs</small>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="chart-wrapper">-->
          <!--<canvas baseChart class="chart"-->
          <!--[datasets]="barChartData"-->
          <!--[labels]="barChartLabels"-->
          <!--[options]="barChartOptions"-->
          <!--[legend]="barChartLegend"-->
          <!--[chartType]="barChartType"-->
          <!--(chartHover)="chartHovered($event)"-->
          <!--(chartClick)="chartClicked($event)"></canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Doughnut Chart-->
        <!--<div class="card-header-actions">-->
          <!--<a href="http://www.chartjs.org">-->
            <!--<small class="text-muted">docs</small>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="chart-wrapper">-->
          <!--<canvas baseChart class="chart"-->
          <!--[data]="doughnutChartData"-->
          <!--[labels]="doughnutChartLabels"-->
          <!--[chartType]="doughnutChartType"-->
          <!--(chartHover)="chartHovered($event)"-->
          <!--(chartClick)="chartClicked($event)"></canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Radar Chart-->
        <!--<div class="card-header-actions">-->
          <!--<a href="http://www.chartjs.org">-->
            <!--<small class="text-muted">docs</small>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="chart-wrapper">-->
          <!--<canvas baseChart class="chart"-->
          <!--[datasets]="radarChartData"-->
          <!--[labels]="radarChartLabels"-->
          <!--[chartType]="radarChartType"-->
          <!--(chartHover)="chartHovered($event)"-->
          <!--(chartClick)="chartClicked($event)"></canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Pie Chart-->
        <!--<div class="card-header-actions">-->
          <!--<a href="http://www.chartjs.org">-->
            <!--<small class="text-muted">docs</small>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="chart-wrapper">-->
          <!--<canvas baseChart class="chart"-->
          <!--[data]="pieChartData"-->
          <!--[labels]="pieChartLabels"-->
          <!--[chartType]="pieChartType"-->
          <!--(chartHover)="chartHovered($event)"-->
          <!--(chartClick)="chartClicked($event)"></canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Polar Area Chart-->
        <!--<div class="card-header-actions">-->
          <!--<a href="http://www.chartjs.org">-->
            <!--<small class="text-muted">docs</small>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="chart-wrapper">-->
          <!--<canvas baseChart class="chart"-->
          <!--[data]="polarAreaChartData"-->
          <!--[labels]="polarAreaChartLabels"-->
          <!--[legend]="polarAreaLegend"-->
          <!--[chartType]="polarAreaChartType"-->
          <!--(chartHover)="chartHovered($event)"-->
          <!--(chartClick)="chartClicked($event)"></canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<ul >-->
  <!--<li *ngFor="let user of users">-->
    <!--{{user}}-->
  <!--</li>-->
<!--</ul>-->



<div class="General">
  I'm general!
</div>
<div class="patients">
  <!--<app-users></app-users>-->
</div>
<div class="patient content">
<div class="card-columns cols">
  <div class="card text-black f0f3f5">
    <div class="card-header bg-success">
      <div class="col">
        <h1>Hello {{name}}</h1>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <h4>Measurments</h4>
      </div>
      <div class="row">
        <h4>Daily Activity</h4>
      </div>
    </div>
  </div>
</div>


<div class="card-columns cols-2">
  <div class="card">
    <div class="card-header">
      Body Measurements
      <div class="card-header-actions">
        <a href="http://www.chartjs.org">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrapper">
        <canvas baseChart class="chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColours"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Calories Burnt
      <div class="card-header-actions">
        <a href="http://www.chartjs.org">
          <small class="text-muted">docs</small>
        </a>
      </div>
    </div>
    <div class="card-body">
      <div class="chart-wrapper">
        <canvas baseChart class="chart"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>
</div>
