<form class="app-body" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>Register</h1>
              <p class="text-muted">Create your account</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control validate" placeholder="First Name" name="FirstName" #FirstName="ngModel" [(ngModel)]="user.FirstName" required>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Last Name" name="LastName" #LastName="ngModel" [(ngModel)]="user.LastName" required>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">@</span>
                </div>
                <input type="email" class="form-control" placeholder="Email" name="Email" #Email="ngModel" [(ngModel)]="user.Email" required>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-heart"></i></span>
                </div>
                <input type="date" class="form-control" placeholder="Birthday" name="Birthday" #Birthday="ngModel" [(ngModel)]="user.Birthday">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-phone"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Phone Number" name="PhoneNumber" #PhoneNumber="ngModel" [(ngModel)]="user.PhoneNumber">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-calendar"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Starting year" name="Starting_year" #Starting_year="ngModel" [(ngModel)]="user.Starting_year">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-home"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Institution" name="Institution" #Institution="ngModel" [(ngModel)]="user.Institution">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input id="password" type="password" class="form-control" required minlength="5" placeholder="Password" name="Password" #Password="ngModel" [(ngModel)]="user.Password" required>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input id="RePassword" type="password" class="form-control" required minlength="5" name="RePassword" #RePassword="ngModel" [(ngModel)]="RePass" placeholder="Repeat password" required>
              </div>
              <button [disabled]="!userRegistrationForm.valid" type="submit" class="btn btn-block btn-success">Create Account</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</form>
