
<div style="left: 0; line-height: 200px; margin: auto; margin-top: -100px; position: absolute; top: 50%; width: 100%;">
    <div class="alert alert-success"  role="alert" *ngIf="showAlert">
      <h1 class="alert-heading" style="font-weight: bold; text-align: center">Restore message has been sent to your mail</h1>
      <h4 class="alert-heading" style="font-weight: bold; text-align: center">You will be moved to login in 3 seconds</h4>
    </div>
</div>


<form class="app-body" #ForgotPasswordForm="ngForm" *ngIf="!showAlert" (ngSubmit)="OnRestore(ForgotPasswordForm)">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card mx-4">
            <div class="card-body p-4">
              <h1>Restore Password</h1>
              <p class="text-muted">Type your registration email</p>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="Email" name="Email" #Institution="ngModel" [(ngModel)]="user_email" required>
              </div>
              <button [disabled]="!ForgotPasswordForm.valid" type="submit" class="btn btn-block btn-success">Restore Password</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</form>



