<!--<div class="animated fadeIn">-->
<!--<div class="card-columns cols-2">-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Body Measurements-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[datasets]="lineChartData"-->
<!--[labels]="lineChartLabels"-->
<!--[options]="lineChartOptions"-->
<!--[colors]="lineChartColours"-->
<!--[legend]="lineChartLegend"-->
<!--[chartType]="lineChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Calories Burnt-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[datasets]="barChartData"-->
<!--[labels]="barChartLabels"-->
<!--[options]="barChartOptions"-->
<!--[legend]="barChartLegend"-->
<!--[chartType]="barChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Doughnut Chart-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[data]="doughnutChartData"-->
<!--[labels]="doughnutChartLabels"-->
<!--[chartType]="doughnutChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Radar Chart-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[datasets]="radarChartData"-->
<!--[labels]="radarChartLabels"-->
<!--[chartType]="radarChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Pie Chart-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[data]="pieChartData"-->
<!--[labels]="pieChartLabels"-->
<!--[chartType]="pieChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Polar Area Chart-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[data]="polarAreaChartData"-->
<!--[labels]="polarAreaChartLabels"-->
<!--[legend]="polarAreaLegend"-->
<!--[chartType]="polarAreaChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<ul >-->
<!--<li *ngFor="let user of users">-->
<!--{{user}}-->
<!--</li>-->
<!--</ul>-->

<!--<div class="grid">-->
<!--<div class="General">-->
  <!--<app-general></app-general>-->
<!--</div>-->

<!--<div class="patients_list">-->
  <!--<div class="list-group">-->
    <!--<a-->
      <!--href="#"-->
      <!--class="list-group-item"-->
      <!--*ngFor="let user of users">-->
      <!--<div (click)="onSelect(user)">{{ user.First_name }} {{user.Last_name}}</div>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="user">-->
  <!--<app-user [current_user] = "current_user">  </app-user>-->
<!--</div>-->

<!--<div class="patient_content">-->
  <!--<div class="card-cols">-->
    <!--<div class="card text-black f0f3f5">-->
      <!--<div class="card-header bg-success">-->
        <!--<div class="col">-->
          <!--<h1 style="font-weight: bold; color: black">{{current_user.First_name}} {{current_user.Last_name}}</h1>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="row">-->
          <!--<h4 style="font-weight: bold; margin-bottom: 15px; color: dimgrey">Measurments</h4>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col">-->
           <!--<h5>Height = {{current_user.Height}}</h5>-->
          <!--</div>-->
          <!--<div class="col">-->
            <!--<h5>Weight = {{current_user.Weight}}</h5>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <!--<div class="card-columns cols-2">-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Body Measurements-->
        <!--<div class="card-header-actions">-->
          <!--<a href="http://www.chartjs.org">-->
            <!--<small class="text-muted">docs</small>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="chart-wrapper">-->
          <!--<canvas baseChart class="chart"-->
                  <!--[datasets]="lineChartData"-->
                  <!--[labels]="lineChartLabels"-->
                  <!--[options]="lineChartOptions"-->
                  <!--[colors]="lineChartColours"-->
                  <!--[legend]="lineChartLegend"-->
                  <!--[chartType]="lineChartType"-->
                  <!--(chartHover)="chartHovered($event)"-->
                  <!--(chartClick)="chartClicked($event)"></canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Calories Burnt-->
        <!--<div class="card-header-actions">-->
          <!--<a href="http://www.chartjs.org">-->
            <!--<small class="text-muted">docs</small>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="chart-wrapper">-->
          <!--<canvas baseChart class="chart"-->
                  <!--[datasets]="barChartData"-->
                  <!--[labels]="barChartLabels"-->
                  <!--[options]="barChartOptions"-->
                  <!--[legend]="barChartLegend"-->
                  <!--[chartType]="barChartType"-->
                  <!--(chartHover)="chartHovered($event)"-->
                  <!--(chartClick)="chartClicked($event)"></canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->


<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Poller+One" />
<div class="wrap">
  <div class="cards">
    <div class="card card1">
      <div class="text-value" style="align-items: right; font-size: 35px; text-align: center">
        Hello
      </div>
      <div class="text" style="align-items: flex-end; size: A4; letter-spacing: 3px; font-size: 35px; text-align: center; font-weight: bold">
        {{trainer_first_name}} {{trainer_last_name}}
      </div>
    </div>
    <div class="card card2">
      <div class="text" style="align-items: flex-end; size: A4; letter-spacing: 3px; font-size: 35px; text-align: center">
        {{trainer_institution}}
      </div>
      <br>
      <div class="text" style="align-items: flex-end; size: A4; letter-spacing: 3px; font-size: 35px; text-align: center; font-weight: bold">
        Institute
      </div>
    </div>
    <div class="card card3">
      <div class="text-value" style="align-items: right; font-size: 35px; text-align: center">
        {{numberOfPatients}}
      </div>
      <br>
      <div class="text" style="align-items: flex-end; size: A4; letter-spacing: 3px; font-size: 35px; text-align: center; font-weight: bold">
        Patients
      </div>
    </div>
    <div class="card card4">
      <div class="text" style="font-size: 25px; letter-spacing: 3px; font-weight: bold; padding-bottom: 15px">
        Your patients
      </div>
       <select>
         <option *ngFor="let patient of patients" (click)="onSelect(patient)">{{patient.first_name}} {{patient.last_name}}</option>
      </select>
    </div>
    <div class="card card5" style="color: black">
      <div class="row">
        <span style="font-weight: bold; color: black; font-size: 30px">{{current_patient.first_name}} {{current_patient.last_name}}</span>
      </div>
      <div class="row"><span style="font-size: 10px; text-align: left">
        up to: {{dateOfLastMeasure}}</span></div>
      <div class="row">
        <div class="col">
          <span><img src="http://grigale.grigale.com/fitness360user_app/TANITA/weight.png" style="height: 80px; width: 160px"></span><span style="font-size: 15px"> {{current_patient.weight}}</span><span style="font-size: 20px">&nbsp;&nbsp;<img [src]="weightStatus" style="height: 35px; width: 20px"></span>
        </div>
        <div class="col">
          <span class="text"><img src="http://grigale.grigale.com/fitness360user_app/TANITA/viscera.png" style="height: 80px; width: 160px"></span><span style="font-size: 15px"> {{current_patient.visceral_fat}}</span><span>&nbsp;&nbsp;<img [src]="visceralStatus" style="height: 35px; width: 20px"></span>
        </div>
        <div class="col">
          <span><img src="http://grigale.grigale.com/fitness360user_app/TANITA/bodyfat.png" style="height: 80px; width: 160px"></span><span style="font-size: 15px"> {{current_patient.fat_percentage}}</span><span>&nbsp;&nbsp;<img [src]="fatStatus" style="height: 35px; width: 20px"></span>
        </div>
      </div>
      <div class="row" style="margin-top: 25px">
        <div class="col">
          <span><img src="http://grigale.grigale.com/fitness360user_app/TANITA/body_water.png" style="height: 80px; width: 160px"></span><span style="font-size: 15px"> {{current_patient.body_water}}</span><span>&nbsp;&nbsp;<img [src]="waterStatus" style="height: 35px; width: 20px"></span>
        </div>
        <div class="col">
          <span><img src="http://grigale.grigale.com/fitness360user_app/TANITA/musclemass.png" style="height: 80px; width: 160px"></span><span style="font-size: 15px"> {{current_patient.mass_weight}}</span><span>&nbsp;&nbsp;<img [src]="massStatus" style="height: 35px; width: 20px"></span>
        </div>
        <div class="col">
          <span><img src="http://grigale.grigale.com/fitness360user_app/TANITA/metabolic_age.png" style="height: 80px; width: 160px"></span><span style="font-size: 15px"> {{current_patient.metabolic_age}}</span><span>&nbsp;&nbsp;<img [src]="ageStatus" style="height: 35px; width: 20px"></span>
        </div>
        <div class="col">
          <span><img src="http://grigale.grigale.com/fitness360user_app/TANITA/physique_rating.png" style="height: 80px; width: 160px"></span><span style="font-size: 15px"> {{current_patient.physique_rating}}</span><span>&nbsp;&nbsp;<img [src]="physiqueStatus" style="height: 35px; width: 20px"></span>
        </div>
      </div>
    </div>
    <div class="card card6">
      <div class="card-header" style="background-color: white">
        <h5 style="color: black">Calories Charts&nbsp;&nbsp;&nbsp;&nbsp;
        <select>
          <option (click)="onChangeCaloriesCharts(1)">Calories burnt</option>
          <option (click)="onChangeCaloriesCharts(2)">Income Calories</option>
        </select>
        </h5>
      </div>

          <canvas baseChart class="chart"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [colors]="barChartColours"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>


    </div>
    <div class="card card7">
      <div class="col">
      <div class="card-header" style="background-color: white">
        <h5 style="color: black"> Body Measurements - 28 Last days</h5>
        <br>
      </div>
      <div class="card-body">
      <div class="chart-wrapper">
        <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>


    </div>

  </div>
</div>
</div>
