<!--<div class="animated fadeIn">-->
<!--<div class="card-columns cols-2">-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Body Measurements-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[datasets]="lineChartData"-->
<!--[labels]="lineChartLabels"-->
<!--[options]="lineChartOptions"-->
<!--[colors]="lineChartColours"-->
<!--[legend]="lineChartLegend"-->
<!--[chartType]="lineChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Calories Burnt-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[datasets]="barChartData"-->
<!--[labels]="barChartLabels"-->
<!--[options]="barChartOptions"-->
<!--[legend]="barChartLegend"-->
<!--[chartType]="barChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Doughnut Chart-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[data]="doughnutChartData"-->
<!--[labels]="doughnutChartLabels"-->
<!--[chartType]="doughnutChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Radar Chart-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[datasets]="radarChartData"-->
<!--[labels]="radarChartLabels"-->
<!--[chartType]="radarChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Pie Chart-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[data]="pieChartData"-->
<!--[labels]="pieChartLabels"-->
<!--[chartType]="pieChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<div class="card-header">-->
<!--Polar Area Chart-->
<!--<div class="card-header-actions">-->
<!--<a href="http://www.chartjs.org">-->
<!--<small class="text-muted">docs</small>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="card-body">-->
<!--<div class="chart-wrapper">-->
<!--<canvas baseChart class="chart"-->
<!--[data]="polarAreaChartData"-->
<!--[labels]="polarAreaChartLabels"-->
<!--[legend]="polarAreaLegend"-->
<!--[chartType]="polarAreaChartType"-->
<!--(chartHover)="chartHovered($event)"-->
<!--(chartClick)="chartClicked($event)"></canvas>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<ul >-->
<!--<li *ngFor="let user of users">-->
<!--{{user}}-->
<!--</li>-->
<!--</ul>-->

<!--<div class="grid">-->
<!--<div class="General">-->
  <!--<app-general></app-general>-->
<!--</div>-->

<!--<div class="patients_list">-->
  <!--<div class="list-group">-->
    <!--<a-->
      <!--href="#"-->
      <!--class="list-group-item"-->
      <!--*ngFor="let user of users">-->
      <!--<div (click)="onSelect(user)">{{ user.First_name }} {{user.Last_name}}</div>-->
    <!--</a>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="user">-->
  <!--<app-user [current_user] = "current_user">  </app-user>-->
<!--</div>-->

<!--<div class="patient_content">-->
  <!--<div class="card-cols">-->
    <!--<div class="card text-black f0f3f5">-->
      <!--<div class="card-header bg-success">-->
        <!--<div class="col">-->
          <!--<h1 style="font-weight: bold; color: black">{{current_user.First_name}} {{current_user.Last_name}}</h1>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="row">-->
          <!--<h4 style="font-weight: bold; margin-bottom: 15px; color: dimgrey">Measurments</h4>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col">-->
           <!--<h5>Height = {{current_user.Height}}</h5>-->
          <!--</div>-->
          <!--<div class="col">-->
            <!--<h5>Weight = {{current_user.Weight}}</h5>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->


  <!--<div class="card-columns cols-2">-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Body Measurements-->
        <!--<div class="card-header-actions">-->
          <!--<a href="http://www.chartjs.org">-->
            <!--<small class="text-muted">docs</small>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="chart-wrapper">-->
          <!--<canvas baseChart class="chart"-->
                  <!--[datasets]="lineChartData"-->
                  <!--[labels]="lineChartLabels"-->
                  <!--[options]="lineChartOptions"-->
                  <!--[colors]="lineChartColours"-->
                  <!--[legend]="lineChartLegend"-->
                  <!--[chartType]="lineChartType"-->
                  <!--(chartHover)="chartHovered($event)"-->
                  <!--(chartClick)="chartClicked($event)"></canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="card">-->
      <!--<div class="card-header">-->
        <!--Calories Burnt-->
        <!--<div class="card-header-actions">-->
          <!--<a href="http://www.chartjs.org">-->
            <!--<small class="text-muted">docs</small>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="card-body">-->
        <!--<div class="chart-wrapper">-->
          <!--<canvas baseChart class="chart"-->
                  <!--[datasets]="barChartData"-->
                  <!--[labels]="barChartLabels"-->
                  <!--[options]="barChartOptions"-->
                  <!--[legend]="barChartLegend"-->
                  <!--[chartType]="barChartType"-->
                  <!--(chartHover)="chartHovered($event)"-->
                  <!--(chartClick)="chartClicked($event)"></canvas>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->


<div class="wrap">
  <div class="cards">
    <div class="card card1">
      <div class="text-value" style="align-items: right; font-size: 55px; text-align: center">
        Hello
      </div>
      <div class="text" style="align-items: flex-end; size: A4; letter-spacing: 3px; font-size: 35px; text-align: center">
        {{trainer_first_name}} {{trainer_last_name}}
      </div>
    </div>
    <div class="card card2">
      <div class="text-value" style="align-items: center; font-size: 30px">
        {{trainer_institution}}
      </div>
      <div class="text" style="align-items: flex-end; size: A4; letter-spacing: 3px; font-size: 35px; text-align: center">
        institute
      </div>
    </div>
    <div class="card card3">
      <div class="text-value" style="align-items: right; font-size: 55px; text-align: center">
        2
      </div>
      <div class="text" style="align-items: flex-end; size: A4; letter-spacing: 3px; font-size: 35px; text-align: center">
        Patients
      </div>
    </div>
    <div class="card card4">
      <div class="text" style="font-size: 35px; letter-spacing: 3px; font-weight: bold; padding-bottom: 15px">
        Your patients
      </div>
      <div class="list-group">
      <a
      href="#"
      class="list-group-item"
      *ngFor="let user of users">
      <div (click)="onSelect(user)">{{ user.First_name }} {{user.Last_name}}</div>
      </a>
      </div>
    </div>
    <div class="card card5">
      <div class="row">
        <h1 style="font-weight: bold; color: black">{{current_user.First_name}} {{current_user.Last_name}}</h1>
      </div>
      <div class="row">
        <h4 style="font-weight: bold; margin-bottom: 15px; color: black">Measurments</h4>
      </div>
      <div class="row">
        <div class="col">
          <h5>Height = {{current_user.Height}}</h5>
        </div>
        <div class="col">
          <h5>Weight = {{current_user.Weight}}</h5>
        </div>
      </div>
    </div>
    <div class="card card6">
      <div class="card-header" style="background-color: white">
        <h5 style="color: black">Calories Burnt</h5>
      </div>

          <canvas baseChart class="chart"
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>


    </div>
    <div class="card card7">
      <div class="card-header" style="background-color: white">
        <h5 style="color: black"> Body Measurements</h5>
      </div>
      <div class="card-body">
      <div class="chart-wrapper">
        <canvas baseChart class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)">
        </canvas>
      </div>


    </div>
  </div>
</div>
</div>
