body {
  text-align: center;
}

.wrap {
  max-width: 100em;
  text-align: left;
  margin: 0 auto;
}

.cards { font-family: Poller One;}


.cards {
  margin: 2px;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  //grid-gap: 8px;
  grid-template-areas:
    "a a a b b c"
    "d e e e e e"
    "h h h h h h"
    "g g g f f f"
    "j j j i i i";
}

.card {
  background-color: #1E88E5;
  padding: 2em;
  color: #FFFFFF;
  line-height: 1.4;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  h3 {
    margin-top: 0;
  }
}

.card1 { grid-area: a; background-color: darkgreen;}
.card2 { grid-area: b; background-color: forestgreen; }
.card3 { grid-area: c; background-color: rgba(196, 230, 142, 1); }
.card4 { grid-area: d; background-color: rgba(171, 188, 143, 1); }
.card5 { grid-area: e; background-color: rgba(155, 171, 130, 1); }
.card6 { grid-area: f; background-color: white; }
.card7 { grid-area: g; background-color: white; }
.card8 { grid-area: h; background-color: rgba(222, 227, 216, 1) }
.card9 { grid-area: i; background-color: white; }
.card10 { grid-area: j; background-color: white; }


#outer
{
  width:100%;
}

.inner
{
  display: inline-block;
  padding-right: 130px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1 {
  background-color: rgba(236, 242, 233, 1);
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}

.button2 {
  background-color: rgba(236, 242, 233, 1);
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
