<div class="row">
  <div class="col-sm-6 col-lg-4">
    <div class="card text-white bg-primary">
      <div class="card-body pb-0">
        <div class="text-value" style="align-items: right; font-size: 55px">
          Hello
        </div>
        <div class="text" style="align-items: flex-end; size: A4; letter-spacing: 3px; font-size: 35px; text-align: center">
          {{first_name}} {{last_name}}</div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-info">
      <div class="card-body pb-0">
        <div class="text-value" style="align-items: right; font-size: 50px">
          Bar Ilan
        </div>
        <div class="text" style="align-items: flex-end; size: A4; letter-spacing: 3px; font-size: 30px; text-align: center">
          institute
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-lg-3">
    <div class="card text-white bg-warning">
      <div class="card-body pb-0">
        <div class="text-value" style="align-items: right; font-size: 50px;">
          2
        </div>
        <div class="text" style="align-items: flex-end; size: A4; letter-spacing: 3px; font-size: 30px; text-align: center">
          Patients
        </div>
      </div>
    </div>
  </div>
</div>
